html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.container--inner {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.overscroll::before, .overscroll::after {
    height: 0 !important;
}

* { scrollbar-width: thin; }
:root:not(:hover) { scrollbar-color: transparent transparent !important; }
:root { scrollbar-color: #666 #383838 !important; }

.pages {
    position: relative;
    z-index: 999;
}